<h2 class="text-primary text-3xl font-black mb-6">Cart</h2>

@if(items.length > 0){
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      @for(item of items; track $index){
      <tr>
        <td class="border border-y-1 border-x-0 border-primary/50">
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img src="https://placehold.co/50x50/19362D/FFFFFF" alt="Product Image" />
              </div>
            </div>
            <div>
              <div class="font-bold">{{item.product.name}}</div>
            </div>
          </div>
        </td>
        <td class="border border-y-1 border-x-0 border-primary/50">
          {{item.product.price | currency:'USD':'symbol':'1.2-2'}}
        </td>
        <td class="border border-y-1 border-x-0 border-primary/50">
          <input type="number" min="1" aria-label="Quantity" [(ngModel)]="item.quantity"
            (ngModelChange)="onQuantityChange(item)" />
        </td>
        <td class="border border-y-1 border-x-0 border-primary/50">
          <button class="btn btn-outline btn-error" (click)="onRemoveItem(item.product.id)">Remove</button>
        </td>
      </tr>
      }
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-xl">TOTAL</th>
        <th class="text-xl">{{getTotalPrice() | currency:'USD':'symbol':'1.2-2'}}</th>
      </tr>
    </tfoot>
  </table>
</div>
}
@else {
<div role="alert" class="alert alert-warning alert-dash">
  <span>Your cart is empty! Add some items to your cart to checkout.</span>
</div>
}