<div class="max-w-6xl mx-auto p-4">
  <catalogue [products]="products" (addToCartEventEmitter)="onAddToCart($event)" />
</div>

<!-- Modal -->
<input type="checkbox" id="my_modal" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="modal-box w-11/12 max-w-5xl">
    <cart [items]="items" (removeEventEmitter)="onRemoveItem($event)" />
    <div class="modal-action">
      <label for="my_modal" class="btn">Close</label>
    </div>
  </div>
  <label class="modal-backdrop" for="my_modal"></label>
</div>